@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");

:root {
  --color-01: #7bae6e;
  --color-02: #23341e;
  --color-03: #fcd669;
  --color-04: #382f16;
}

html {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  transition: 0.1s;
  box-sizing: border-box;
  font-family: "Wendy One", sans-serif;
  letter-spacing: 2px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-02);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--color-02);
  padding: 0 100px;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--color-01);
}
header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
header ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
header ul li a {
  font-size: 16px;
  color: var(--color-01);
  text-transform: uppercase;
  text-decoration: none;
}

header ul li.active a,
header ul li a:hover {
  color: var(--color-03);
  font-size: 17px;
}

.banner {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-01);
}
.banner video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.banner__content {
  width: 70vw;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-02);
  border-radius: 50px;
  z-index: 1;
  border: 1px solid var(--color-01);
}
.banner__img {
  width: auto;
  height: 250px;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
}
.banner__text {
  color: var(--color-01);
  font-size: 18px;
  line-height: 24px;
  margin: 25px;
  text-align: justify;
}
.banner__text h2 {
  color: var(--color-03);
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 100px;
}

main section {
  background-color: var(--color-03);
  border-radius: 25px;
}

main section h2 {
  margin: 25px;
  margin-bottom: 0;
  width: calc(100% - 50px);
  background-color: var(--color-02);
  padding: 10px 0;
  border-radius: 50px;
  color: var(--color-03);
  font-size: 24px;
  text-align: center;
}

.section__products {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}

.product {
  gap: 25px;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  padding: 20px;
  border-radius: 25px;
  background-color: var(--color-02);
}

.product:hover {
  transform: scale(1.025);
  background-color: var(--color-04);
}

.product__infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-02);
}

.product img {
  width: 150px;
  border-radius: 15px;
}
.product__name {
  color: var(--color-03);
  font-size: 22px;
}
.product__price {
  color: var(--color-01);
  font-size: 22px;
}
.product__price::before {
  content: "R$ ";
  font-size: 16px;
}

.product__button {
  background-color: var(--color-01);
  border: none;
  border-radius: 25px;
  padding: 5px 25px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-02);
  width: min-content;
  cursor: pointer;
}

.product__button:hover {
  background-color: var(--color-03);
  color: var(--color-04);
}

.product__description {
  padding-left: 25px;
  border-left: 1px solid var(--color-03);
}

.product__description h3 {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--color-03);
}

.product__description h3::after {
  content: ":";
}

.product__description p {
  line-height: 25px;
  max-height: 120px;
  overflow-y: scroll;
  color: var(--color-01);
}

@media screen and (max-width: 1100px) {
  main {
    padding: 50px;
  }

  .banner__content {
    padding: 20px;
  }

  .banner__content h2 {
    margin-bottom: 25px;
  }

  .banner__text {
    margin: 0;
  }

  .banner__img {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .banner {
    padding: 50px;
  }

  .banner__content {
    border-radius: 25px;
    width: auto;
    height: auto;
  }

  header ul {
    display: none;
  }

  .banner__text h2 {
    font-size: 22px;
  }
  .banner__text {
    font-size: 16px;
  }
  .banner__text p:last-child {
    display: none;
  }

  .product__name,
  .product__price,
  .product__button,
  .product__description h3,
  .product__description p {
    font-size: 16px;
  }

  .product__price::before {
    font-size: 12px;
  }

  .product__button {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  main {
    padding: 25px;
  }

  .banner {
    padding: 50px;
  }

  .banner__content {
    width: auto;
    height: auto;
  }

  .banner__text h2 {
    font-size: 16px;
  }
  .banner__text {
    font-size: 14px;
    text-align: center;
  }
  .banner__text p:nth-child(2),
  .banner__text p:nth-child(3) {
    display: none;
  }

  main section h2 {
    font-size: 16px;
    margin: 10px;
    margin-bottom: 0;
    width: calc(100% - 20px);
  }

  .section__products {
    padding: 15px;
    gap: 15px;
  }

  .product {
    gap: 15px;
    padding: 15px;
    grid-template-columns: 100px 1fr;
  }

  .product__name {
    font-size: 14px;
  }
  .product__price {
    font-size: 12px;
  }

  .product__button {
    padding: 2.5px 0;
    width: 100%;
    font-size: 12px;
  }

  .product img {
    width: 100px;
  }

  .product__description {
    display: none;
  }
}
